## Section 1

In [1]:
import numpy as np
import pandas as pd

In [40]:
df1 = pd.read_csv("dataset1.csv")

In [41]:
df2 = pd.read_csv("dataset2.csv", sep=',')

In [46]:
df = df1.append(df2)

In [48]:
df.dtypes

name      object
price    float64
dtype: object

In [49]:
len(df1)

5000

In [50]:
len(df2)

5000

In [51]:
len(df.index)

10000

### Split the name field into first_name, and last_name

In [52]:
df['First_Name'] = df.name.str.split(' ', expand = True)[0]

In [53]:
df['Last_Name'] = df.name.str.split(' ', expand = True)[1]

In [57]:
df.dtypes

name           object
price         float64
First_Name     object
Last_Name      object
dtype: object

In [55]:
df.head()

             name       price First_Name Last_Name
0   William Dixon  109.037280    William     Dixon
1    Kristen Horn  262.524652    Kristen      Horn
2  Kimberly Chang  187.007258   Kimberly     Chang
3       Mary Ball  283.174648       Mary      Ball
4  Benjamin Craig  143.871582   Benjamin     Craig

In [58]:
#df['price'] = df['price'].astype(float)

### Remove zeros prepended to price field

In [59]:
dfpre = df.drop(df[df.price < 1].index)

In [60]:
len(dfpre)

9982

In [ ]:
#dfpre.loc[dfpre['price'] == 0.10637949]

### Delete rows which do not have a name

In [62]:
dfnoname=dfpre.dropna(subset=['name'])

In [63]:
len(dfnoname)

9982

### Create a new field named above_100, which is true if the price is strictly greater than 100

In [64]:
dfnewfield=dfnoname

In [65]:
dfnewfield['above_100']= np.where(dfnoname['price'] > 100, True, False)

In [66]:
len(dfnewfield)

9982

In [67]:
dfnewfield.to_csv('processeddataset.csv', index=False)